<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crystal.draw">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.crystal.draw.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Draw1Activity"/>
        <activity android:name=".Draw2Activity"/>
        <activity android:name=".Draw3Activity"/>
        <activity android:name=".Draw4Activity"/>
        <activity android:name=".Draw5Activity"/>
        <activity android:name=".Draw6Activity"/>
        <activity android:name=".Draw7Activity"/>
        <activity android:name=".Draw8Activity"/>
        <activity android:name=".Draw9Activity"/>
        <activity android:name=".Draw10Activity"/>
        <activity android:name=".Draw11Activity"/>
        <activity android:name=".Draw12Activity"/>
        <activity android:name=".Draw13Activity"/>
        <activity android:name=".Draw14Activity"/>
        <activity android:name=".Draw15Activity"/>
    </application>

</manifest>