<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crystal.draw">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.crystal.draw.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Draw1Activity"/>
        <activity android:name=".Draw2Activity"/>
        <activity android:name=".Draw3Activity"/>
        <activity android:name=".Draw4Activity"/>
        <activity android:name=".Draw5Activity"/>
        <activity android:name=".Draw6Activity"/>
        <activity android:name=".Draw7Activity"/>
        <activity android:name=".Draw8Activity"/>
        <activity android:name=".Draw9Activity"/>
        <activity android:name=".Draw10Activity"/>
        <activity android:name=".Draw11Activity"/>
        <activity android:name=".Draw12Activity"/>
        <activity android:name=".Draw13Activity"/>
        <activity android:name=".Draw14Activity"/>
        <activity android:name=".Draw15Activity"/>

        <activity android:name=".Draw16Activity"/>
        <activity android:name=".Draw17Activity"/>
        <activity android:name=".Draw18Activity"/>
        <activity android:name=".Draw19Activity"/>
        <activity android:name=".Draw20Activity"/>
        <activity android:name=".Draw21Activity"/>
        <activity android:name=".Draw22Activity"/>
        <activity android:name=".Draw23Activity"/>
        <activity android:name=".Draw24Activity"/>
        <activity android:name=".Draw25Activity"/>
        <activity android:name=".Draw26Activity"/>
        <activity android:name=".Draw27Activity"/>
        <activity android:name=".Draw28Activity"/>
        <activity android:name=".Draw29Activity"/>
        <activity android:name=".Draw30Activity"/>
        <activity android:name=".Draw31Activity"/>
        <activity android:name=".Draw32Activity"/>
        <activity android:name=".Draw33Activity"/>
        <activity android:name=".Draw34Activity"/>
        <activity android:name=".Draw35Activity"/>
        <activity android:name=".Anim1Activity"/>
        <activity android:name=".AnalysisOfHeroAbilityActivity"/>

    </application>

</manifest>